body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .entrada {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  